<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${Titulo}">Api Spring</title>
</head>
<body>
    <h1 th:text="${Titulo}"></h1>
    <h1 th:text="${Servidor}"></h1>
    <h1 th:text="${Ip}"></h1>
    <br/>
    <h2>info</h2>
    <ul>
        <li><strong>Nombre:</strong><span th:text="${info.nombre}"></span></li>
        <li><strong>Apellido:</strong><span th:text="${info.apellido}"></span></li>
        <li><strong>Direccion:</strong><span th:text="${info.direccion != null ? info.direccion : 'No tiene direccion' }"></span></li>
        <li><strong>Puesto:</strong><span th:text="${info.puesto}"></span></li>
        <li><strong>Edad:</strong><span th:text="${info.edad}"></span></li>
        <li><strong>Telefono:</strong><span th:text="${info.telefono}"></span></li>
        <li><strong>Id:</strong><span th:text="${info.id}"></span></li>
    </ul>
    <h1>Empleados</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Direccion</th>
                <th>Puesto</th>
                <th>Edad</th>
                <th>Telefono</th>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="empleado : ${Empleados}">
                <td th:text="${empleado.nombre}"></td>
                <td th:text="${empleado.apellido}"></td>
                <td th:text="${empleado.direccion}"></td>
                <td th:text="${empleado.puesto}"></td>
                <td th:text="${empleado.edad}"></td>
                <td th:text="${empleado.telefono}"></td>
                <td th:text="${empleado.id}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>